<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
           id="gov.capetown.afaria"
      version="0.1.0">
    <name>Afaria</name>
    <description>Cordova Get EPIC Mobile Application Afaria Settings</description>
    <license>MIT</license>
    <keywords>phonegap</keywords>

    <js-module src="www/afaria.js" name="Afaria">
        <clobbers target="afaria" />
    </js-module>

    <!-- android -->
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="Afaria">
                <param name="android-package" value="gov.capetown.afaria.Afaria"/>
            </feature>
        </config-file>

        <source-file src="src/android/Afaria.java" target-dir="src/gov/capetown/afaria" />      
     </platform>          
</plugin>
